.container {
  background-color: white;
}

.supplyImage > img {
  width: 80px;
  height: 50px;
  object-fit: contain;
}

.title-div {
  font-size: 2rem;
  color: black;
  margin-top: 30px;
}

.supply-table {
  margin: 0 auto;
  margin-top: 20px;
  width: 1200px;
  text-align: center;
  align-items: center;
}

.supply-table tr {
  height: 40px;
}

.supply-table td {
  border: 1px solid rgb(153, 153, 153);
  width: 250px;
  vertical-align: middle; /* 세로 중앙 정렬 */
  padding: 10px; /* 여백 추가 (선택 사항) */
}
.supply-table thead{
  background-color: #393753;
  color:white;
}
/* 회색과 흰색 번갈아 나오는 스타일 */
.supply-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* 회색 */
}

.supply-table tbody tr:nth-child(even) {
  background-color: white; /* 흰색 */
}
