.order-tag-table{
  margin: 0 auto;
  width: 70%;
}

.order-tag:hover{
  cursor: pointer;
}


.order-table{
  margin: 0 auto;
  margin-top: 50px;
}

.supplyImage > img {
  width: 50px;
  height: 30px;
  object-fit: contain;
}
