
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 관리자 페이지 */
.admin-div{
  margin-bottom: 50px;
}

.admin-btn{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.admin-btn > button{
  padding: 10px;
  
}


