.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.app-content-div{
  margin: 0 auto;
}

.work-selector{
  display: grid;
  background-color: chartreuse;
  margin: 0 auto;
  width: 100vh;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  font-size: 50px;
  margin-top: 20px;
}
.work-selector>div:nth-child(1){
  background-color: red;
  height: 100%;
}
.work-selector>div:nth-child(2){
  background-color: blue;
}
.work-selector>div:nth-child(3){
  background-color: blueviolet;
}
.work-selector>div:nth-child(4){
  background-color: green;
}
.work-selector>div:nth-child(5){
  background-color: aqua;
  height: 100%;
}
.work-selector span{
  cursor: pointer;
}
.layout-div{
  margin-top: 20px;
}