.App {
  text-align: center;
}

.login-main-div>ul{
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 20px;
}

/* 관리자 페이지 */
.admin-div{
  margin-bottom: 50px;
}

.admin-btn{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.admin-btn > button{
  padding: 10px;
  
}

/* 의사 관리 기능 */
.main-medical-div{
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
