

.admin-login-form-div{
  width: 600px;
  height: 450px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border: 0.5px solid lightgray;
}

.admin-login-form{
  width: 80%;
  height: 250px;
  margin: 0 auto;

} 

.admin-login-form > img {
  width: 80%;
}

.admin-login-div {
  width: 100%;
  height: 160px;
  margin-top: 20px;
}

.admin-input {
  width: 370px;
  height: 40px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  padding-left: 10px;
}

.admin-login-div > button{
  width: 380px;
  height: 35px;
  background: #3C32A2;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

.user-btn{
  width: 1300px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-btn > div {
  width: 30%;
  height: 100px;
  border: 1px solid lightgray;
  padding: 10px;
  margin-top : 10px;
  padding-top: 30px;
}

.user-btn > div > p {
  color: #1C1C1C;
  font-weight: bold;
}

.user-btn > div > button {
  width: 200px;
  height: 40px;
  margin: 10px;
  color: #3C32A2;
  font-weight: bold;
  border: 1px solid #3C32A2;
  background: #fff;
}

.sh-btn1 {
  width: 180px;
  height: 40px;
  margin: 10px;
  color: #3C32A2;
  font-weight: bold;
  border: 1px solid #3C32A2;
  background: #fff;
}