.medical-info {
  width: 500px;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.mh-body-div{
  margin-top: 10px;
}

.medical-info-div{
  display: flex;
  margin-top: 10px;
}

.medical-info-div > div:nth-child(1){
  width: 30%;
}

.medical-info-div > div:nth-child(2){
  width: 70%;
}

.m-key-info{
  display: flex;
  flex-direction: column;
}

.m-key-info > span {
  background-color: #eeeeee;
  border-bottom: 1px solid black;
}

.m-value-info{
  display: flex;
  flex-direction: column;
}

.m-value-info > span{
  border-bottom: 1px solid black;
}

span{
  height: 30px;
  line-height: 30px;
}

.m-input-tag{
  border: none;
  cursor: pointer;;
}

.m-insert-btn{
  margin-top: 15px;
}

textarea{
  resize: none;
  border: none;
}

.mt-size{
  height: 100px;
  line-height: 100px;
}

.m-insert-btn > button{
  border-radius: 20px;
  border: none;
  width: 160px;
  height: 40px;
  font-size: 1.5rem;
}