.new-main-div{
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.new-main-div > div > div:nth-child(1){
  margin: 15px;
}
.new-main-div > div > div > div{
  margin: 15px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

.newInput{
  border: none;
  text-align: center;
}