.new-main-div{
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.new-main-div > div > div:nth-child(1){
  margin: 15px;
}
.new-main-div > div > div > div{
  margin: 15px;
}

.ip-tag{
  border: none;
  text-align: center;
}

.new-btn{
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: white;
}

.new-btn:hover{
  cursor: pointer;
} 