.patient-main-div {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}

.patient-main-div > div {
  border: 1px solid black;
}

.patient-main-div > div:nth-child(1) {
  width: 30%;
}
