.visitant-main-div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.visitant-main-div div {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background-color: #F0F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'LINESeedKR-Bd';
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.visitant-main-div div:hover {
  background-color: #42D3D8;
  color: #fff;
}