.visitant-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
  gap: 40px;
}

.visitant-main-div > div {
  width: 430px;
  height: 400px; 
  background-color: lightgray; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; 
  cursor: pointer;
}

.visitant-main-div > div:nth-child(1){
  background-color: rgba(210, 100, 100, 0.7);
  font-size: 4rem;
  color: white;
}

.visitant-main-div > div:nth-child(1):hover{
  background-color: rgba(255, 100, 100, 1);
}

.visitant-main-div > div:nth-child(2){
  background-color: rgba(100, 100, 210, 0.7);
  font-size: 4rem;
  color: white;
}

.visitant-main-div > div:nth-child(2):hover{
  background-color: rgba(100, 100, 255, 1);
}

.visitant-main-div > div:nth-child(3){
  background-color: rgba(100, 210, 100, 0.7);
  font-size: 4rem;
  color: white;
}

.visitant-main-div > div:nth-child(3):hover{
  background-color: rgba(100, 255, 100, 1);
}