.join-div{
  width: 100vw;
}

.join-table{
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.citizenNum input{
  font-size: 10px;
}

.join-table tr{
  text-align: center;
  border: 1px solid black;
}

.join-table tr > td:first-child{
  width: 200px;
  border: 1px solid black;
}

.join-table>tr input{
  text-align: left;
}