<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="doctorMapper">
    <resultMap id="doctor" type="com.green.TeamProject1.doctor.DoctorVO">
        <result column="DOC_LINUM" property="docLinum"/>
        <result column="DOC_NAME" property="docName"/>
        <result column="DEPT" property="dept"/>
    </resultMap>
    <!--의사 한명의 정보를 받아옴-->
    <select id="getOneDoc" resultMap="doctor">
        SELECT *
        FROM DOCTOR
        WHERE DOC_LINUM = #{docLinum}
    </select>
</mapper>































