<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="doctorMapper">
    <resultMap id="doctor" type="com.green.TeamProject1.doctor.DoctorVO">
        <id column="DOC_LINUM" property="docLinum"/>
        <result column="DOC_PW" property="docPw"/>
        <result column="DOC_NAME" property="docName"/>
        <result column="DEPT_NUM" property="deptNum"/>
        <association property="recepVO" resultMap="patientMapper.recep"/>
        <association property="mediDeptVO" resultMap="mediDept"/>
        <association property="deskVO" resultMap="deskInfo"/>
        <collection property="patientVO" resultMap="patientMapper.patient"/>
    </resultMap>

    <!-- 관리자 페이지를 통해 의사 등록 -->
    <insert id="insertDoctor">
        INSERT INTO DOCTOR(
            DOC_LINUM
            , DOC_PW
            , DOC_NAME
            , DEPT_NUM)
        VALUES (
            #{docLinum}
            ,#{docPw}
            ,#{docName}
            ,#{deptNum}
        );
    </insert>

    <!-- 수납 정보에 대한 정보 -->
    <resultMap id="deskInfo" type="com.green.TeamProject1.doctor.DeskVO">
        <id column="DESK_NUM" property="deskNum"/>
        <result column="TRE_NUM" property="treNum"/>
        <result column="DESK_DATE" property="deskDate"/>
        <result column="DESK_PRICE" property="deskPrice"/>
        <result column="IS_PAY" property="isPay"/>
    </resultMap>

    <!--처방전에 대한 정보-->
    <resultMap id="infoRecipe" type="com.green.TeamProject1.patient.RecipeVO">
        <id column="RECIPE_NUM" property="recipeNum"/>
        <result column="TRE_NUM" property="treNum"/>
        <result column="MEDI_NAME" property="mediName"/>
    </resultMap>

    <!-- 질병 정보에 대한 정보 -->
    <resultMap id="diseaseCategory" type="com.green.TeamProject1.doctor.DiseaseVO">
        <id column="DIS_CODE" property="disCode"/>
        <result column="DIS_NAME" property="disName"/>
        <result column="REC_PRICE" property="recPrice"/>
    </resultMap>



    <!-- 의사에 연결할 진료과 정보 -->
    <resultMap id="mediDept" type="com.green.TeamProject1.doctor.MediDeptVO">
        <result column="DEPT_NUM" property="deptNum"/>
        <result column="DEPT_NAME" property="deptName"/>
    </resultMap>

    <!--의사 한명의 정보를 받아옴-->
    <select id="getOneDoc" resultMap="doctor">
        SELECT *
        FROM DOCTOR
        WHERE DOC_LINUM = #{docLinum}
    </select>

    <!--의사 전체 리스트를 받아옴-->
    <select id="getAllDoc" resultMap="doctor">
        SELECT *
        FROM DOCTOR
    </select>

    <!-- 진료과 정보 받아오기 -->
    <select id="getDeptList" resultMap="mediDept">
        SELECT *
        FROM MEDI_DEPT
        ORDER BY DEPT_NUM;
    </select>

    <!--선택한 진료과에 소속된 의사 목록 조회-->
    <select id="getDoctorList" resultMap="doctor">
        SELECT *
        FROM DOCTOR
        WHERE dept_NUM = #{deptNum}
    </select>

    <!-- 진료 정보 번호? 생성해서 넘겨주기 -->
    <select id="getNextTreNum" resultType="int">
        SELECT IFNULL(MAX(TRE_NUM), 0)+ 1
        FROM info_treat;
    </select>


    <!-- 대기자 목록에서 선택한 환자 진료 정보 등록 -->
    <insert id="insertTreatInfo">
        INSERT INTO info_treat (
            TRE_NUM
          , pat_num
          , disease
          , about_pat
          , tre_date
          , DOC_LINUM
        )
        VALUES (
            #{treNum}
          , #{patNum}
          , #{disease}
          , #{aboutPat}
          , #{treDate}
          , #{docLinum}
        );
    </insert>

    <!-- 대기자 목록에서 선택한 환자 진료 정보에 처방전 정보 추가 삽입 -->
    <!-- 진료 기록 등록되면 DB recep_info에서 정보 삭제 -->
    <insert id="insertRecipeInfo">
        INSERT INTO info_recipe (
            TRE_NUM
          , MEDI_NAME
        )
        VALUES (
           #{treNum}
         , #{mediName}
        );
    </insert>

    <select id="treOneSelect" resultMap="patientMapper.infoTreat">
        SELECT it.*, dc.dis_name
        FROM info_treat it, disease_category dc
        WHERE it.pat_num = #{patNum}
        AND it.disease = dc.dis_code
        ORDER BY it.tre_date DESC
    </select>
    <!--check-->
    <!-- 의료진 로그인 by kth  -->
    <select id="doctorLogin" resultMap="doctorMapper.doctor">
        SELECT *
        FROM DOCTOR
        WHERE DOC_LINUM = #{docLinum}
        AND DOC_PW = #{docPw}
    </select>


    <!-- 의료진 검색 기능(이름 버젼) by kth -->
    <select id="searchStaffByName" resultMap="doctorMapper.doctor">
        SELECT DOC_NAME, DEPT_NAME
        FROM DOCTOR, MEDI_DEPT
        WHERE DOCTOR.DEPT_NUM = MEDI_DEPT.DEPT_NUM
        AND DOC_NAME = #{docName}
    </select>

    <select id="getDeptNames" resultMap="mediDept">
        SELECT DEPT_NAME
        FROM MEDI_DEPT;
    </select>

    <!-- 의료진 검색 기능(진료과 버젼) by kth -->
    <select id="searchStaffByDept" resultMap="doctorMapper.doctor">
        SELECT DOC_NAME, DEPT_NAME
        FROM DOCTOR, MEDI_DEPT
        WHERE DOCTOR.DEPT_NUM = MEDI_DEPT.DEPT_NUM
        AND DOCTOR.DEPT_NAME = #{deptName}
    </select>


    <!-- 진료 시작 버튼 누르면 해당 환자의 상태가 대기중 -> 진료중으로 변경되어야함. -->
    <update id="statusChange">
        UPDATE recep_info
        SET recep_status = '진료중'
        WHERE pat_num = #{patNum};
    </update>

    <!-- 진료 정보 등록하면 기존 대기자 목록 삭제 -->
    <delete id="waitListDelete">
        DELETE from recep_info
        WHERE pat_num = #{patNum};
    </delete>


    <!-- 진단명 클릭 시 진단명 기준으로 상세 내역 조회 -->
    <select id="detailDisease" resultMap="patientMapper.infoTreat">
        SELECT T.TRE_NUM, D.DIS_NAME, T.ABOUT_PAT, R.MEDI_NAME
        FROM INFO_TREAT T, INFO_RECIPE R, DISEASE_CATEGORY D
        WHERE T.TRE_NUM = R.TRE_NUM
        AND T.DISEASE = D.DIS_CODE
        AND T.TRE_NUM = #{treNum};
    </select>


    <!-- 질병 코드 조회 -->
    <select id="diseaseCode" resultMap="doctorMapper.diseaseCategory">
        SELECT * FROM DISEASE_CATEGORY
    </select>

    <!-- 수납 정보 등록 -->
    <insert id="payMoney">
        INSERT INTO desk (
            tre_num
            , desk_price
            , is_pay
        )
        VALUES (
            #{treNum}
            , (SELECT REC_PRICE FROM disease_category WHERE DIS_CODE = #{disease})
            , 'N'
        );
    </insert>

</mapper>
