<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
    <resultMap id="member" type="com.green.TeamProject1.member.vo.MemberVO">
        <id column="MEM_NUM" property="memNum"/>
        <result column="MEM_ID" property="memId"/>
        <result column="MEM_PW" property="memPw"/>
        <result column="MEM_NAME" property="memName"/>
        <result column="MEM_TEL" property="memTel"/>
        <result column="CITIZEN_NUM" property="citizenNum"/>
        <result column="MEM_ADDR" property="memAddr"/>
        <result column="ADDR_DETAIL" property="addrDetail"/>
        <result column="MEM_EMAIL" property="memEmail"/>
        <result column="POST" property="post"/>
        <result column="MEM_ROLE" property="memRole"/>
    </resultMap>

    <resultMap id="admin" type="com.green.TeamProject1.member.vo.AdminVO">
        <result column="ADMIN_ID" property="adminId"/>
        <result column="ADMIN_PW" property="adminPw"/>
        <result column="ADMIN_NAME" property="adminName"/>
        <result column="DEPT_NUM" property="deptNum"/>
        <result column="ADMIN_ROLE" property="adminRole"/>
    </resultMap>

    <!--id 중복 체크-->
    <select id="checkId" resultType="String">
        SELECT MEM_ID
        FROM MEMBER
        WHERE MEM_ID = #{memId};
    </select>

    <!--회원가입 쿼리-->
    <insert id="join">
        INSERT INTO MEMBER(
        MEM_ID
        , MEM_PW
        , MEM_NAME
        , MEM_TEL
        , MEM_EMAIL
        , CITIZEN_NUM
        , POST
        , MEM_ADDR
        , ADDR_DETAIL) VALUES(
        #{memId}
        , #{memPw}
        , #{memName}
        , #{memTel}
        , #{memEmail}
        , #{citizenNum}
        , #{post}
        , #{memAddr}
        , #{addrDetail});
    </insert>

    <!--로그인 쿼리-->
    <select id="login" resultMap="member">
        SELECT *
            FROM MEMBER
        WHERE MEM_ID = #{memId}
        AND MEM_PW = #{memPw}
    </select>

    <!--멤버 정보에 같은 주민번호가 있는지 확인하는 쿼리-->
    <select id="isCitizen" resultMap="member">
        SELECT MEM_NUM, MEM_NAME, CITIZEN_NUM
            FROM MEMBER
        WHERE CITIZEN_NUM = #{citizenNum}
    </select>

    <!-- 아이디 찾기 -->
    <select id="findId" resultType="String">
        SELECT MEM_ID
            FROM MEMBER
        WHERE MEM_NAME = #{memName}
        AND CITIZEN_NUM = #{citizenNum}
    </select>

    <!-- 비밀번호 찾기 -->
    <select id="findPw" resultType="String">
        SELECT MEM_PW
            FROM MEMBER
        WHERE MEM_NAME = #{memName}
        AND MEM_ID = #{memId}
        AND CITIZEN_NUM = #{citizenNum}
    </select>

    <insert id="insertAdmin">
        INSERT INTO ADMIN(
            ADMIN_ID
            , ADMIN_PW
            , ADMIN_NAME
            , DEPT_NUM
            , ADMIN_ROLE
        ) VALUES (
            #{adminId}
            , #{adminPw}
            , #{adminName}
            , #{deptNum}
            , #{adminRole}
        )
    </insert>

    <select id="adminLogin" resultMap="admin">
        SELECT * FROM ADMIN
        WHERE ADMIN_ID = #{adminId}
        AND ADMIN_PW = #{adminPw}
    </select>
</mapper>

