<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="orderMapper">
    <resultMap id="supply" type="com.green.TeamProject1.order.vo.SupplyVO">
        <id column="SUPPLY_NUM" property="supplyNum"/>
        <result column="SUPPLY_NAME" property="supplyName"/>
        <result column="SUPPLY_PRICE" property="supplyPrice"/>
        <result column="SUPPLY_STANDARD" property="supplyStandard"/>
        <result column="DELIVERY_DAY" property="deliveryDay"/>
        <result column="SUPPLIER" property="supplier"/>
        <result column="SUPPLY_MAKEDAY" property="supplyMakeday"/>
        <result column="SUPPLY_CAUTION" property="supplyCaution"/>
        <result column="SUPPLY_IMAGE" property="supplyImage"/>
        <result column="SUPPLY_AMOUNT" property="supplyAmount"/>
        <result column="SUPPLY_MIN_AMOUNT" property="supplyMinAmount"/>
    </resultMap>

    <resultMap id="order" type="com.green.TeamProject1.order.vo.OrderVO">
        <id column="ORDER_NUM" property="orderNum"/>
        <result column="ORDER_DATE" property="orderDate"/>
        <result column="ORDER_MANAGER" property="orderManager"/>
        <result column="DELIVERY_DATE" property="deliveryDate"/>
        <result column="ORDER_NOTE" property="orderNote"/>
    </resultMap>

    <resultMap id="orderedSupply" type="com.green.TeamProject1.order.vo.OrderedSupplyVO">
        <id column="ORDER_SUPPLY_NUM" property="orderSupplyNum"/>
        <result column="SUPPLY_NUM" property="supplyNum"/>
        <result column="ORDER_AMOUNT" property="orderAmount"/>
        <result column="ORDER_NUM" property="orderNum"/>
        <association property="supply" resultMap="supply"/>
    </resultMap>



    <!--재고 조회 시 모든 물품 조회-->
    <select id="selectAllSupply" resultMap="supply">
        SELECT SUPPLY.*
        FROM SUPPLY;

    </select>

    <!--물품 등록시 물품 이름을 통해 물품의 중복검사 실행-->
    <select id="checkSupply" resultMap="supply">
        SELECT * FROM SUPPLY
        WHERE SUPPLY_NAME = #{supplyName}
    </select>

    <!--새로운 물품 등록-->
    <insert id="registSupply">
        INSERT INTO SUPPLY (
            SUPPLY_NAME
            , SUPPLY_PRICE
            , SUPPLY_STANDARD
            , SUPPLIER
            , SUPPLY_CAUTION
            , SUPPLY_IMAGE
        ) VALUES (
            #{supplyName}
            , #{supplyPrice}
            , #{supplyStandard}
            , #{supplier}
            , #{supplyCaution}
            , #{supplyImage}
        )
    </insert>

    <!--발주 내역 확인-->
    <select id="getAllOrder" resultMap="order">
        SELECT ORDER_INFO.*, SUPPLY.*
        FROM ORDER_INFO, SUPPLY
    </select>

    <insert id="commitOrder">
    INSERT INTO order_info(
          ORDER_MANAGER
        , ORDER_DATE
        , DELIVERY_DATE
        , ORDER_NOTE
        ) VALUES (
          #{orderManager}
        , NOW()
        , #{deliveryDate}
        , #{deliveryNote}
    );
    </insert>
<!--컨트롤러에서 실행 시에 orderNum 값을 어딘가 변수에 저장해서 그 값을 서브쿼리에 집어 넣으면 가능 할 것 같다.-->
    <insert id="commitOrderedSupply">
    INSERT INTO ORDER_SUPPLY_INFO(
          SUPPLY_NUM
        , ORDER_AMOUNT
        , ORDER_NUM
        ) VALUES (
          #{supplyNum}
        , #{orderAmount}
        , (SELECT ORDER_NUM
        FROM ORDER_INFO
        WHERE ORDER_NUM = #{orderNum})
    );
    </insert>

</mapper>

