<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="orderMapper">
    <resultMap id="supply" type="com.green.TeamProject1.order.vo.SupplyVO">
        <id column="SUPPLY_NUM" property="supplyNum"/>
        <result column="SUPPLY_NAME" property="supplyName"/>
        <result column="SUPPLY_PRICE" property="supplyPrice"/>
        <result column="SUPPLY_STANDARD" property="supplyStandard"/>
        <result column="DELIVERY_DAY" property="deliveryDay"/>
        <result column="SUPPLIER" property="supplier"/>
        <result column="SUPPLY_MAKEDAY" property="supplyMakeday"/>
        <result column="SUPPLY_IMAGE" property="supplyImage"/>
        <result column="SUPPLY_AMOUNT" property="supplyAmount"/>
        <result column="SUPPLY_MIN_AMOUNT" property="supplyMinAmount"/>
    </resultMap>

    <resultMap id="inventory" type="com.green.TeamProject1.order.vo.InventoryVO">
        <result column="SUPPLY_NUM" property="supplyNum"/>
        <result column="AMOUNT" property="amount"/>
    </resultMap>

    <resultMap id="order" type="com.green.TeamProject1.order.vo.OrderVO">
        <id column="ORDER_NUM" property="orderNum"/>
        <result column="SUPPLY_NUM" property="supplyNum"/>
        <result column="ORDER_DATE" property="orderDate"/>
        <result column="ORDER_AMOUNT" property="orderAmount"/>
        <result column="DELIVERY_DATE" property="deliveryDate"/>
        <result column="ORDER_NOTE" property="orderNote"/>
    </resultMap>

    <!--재고 조회 시 모든 물품 조회-->
    <select id="selectAllSupply" resultMap="supply">
        SELECT * FROM SUPPLY
    </select>

    <!--물품 등록시 물품 이름을 통해 물품의 중복검사 실행-->
    <select id="checkSupply" resultMap="supply">
        SELECT * FROM SUPPLY
        WHERE SUPPLY_NAME = #{supplyName}
    </select>

    <!--새로운 물품 등록-->
    <insert id="registSupply">
        INSERT INTO SUPPLY (
            SUPPLY_NAME
            , SUPPLY_PRICE
            , SUPPLY_STANDARD
            , SUPPLIER
            , SUPPLY_CAUTION
            , SUPPLY_IMAGE
        ) VALUES (
            #{supplyName}
            , #{supplyPrice}
            , #{supplyStandard}
            , #{supplier}
            , #{supplyCaution}
            , #{supplyImage}
        )
    </insert>
    

    <!--발주 내역 확인-->
    <select id="selectAllOrder" resultMap="order">
        SELECT * FROM ORDER
    </select>
</mapper>

