<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="patientMapper">
    <resultMap id="patient" type="com.green.TeamProject1.patient.PatientVO">
        <id column="PAT_NUM" property="patNum"/>
        <result column="PAT_NAME" property="patName"/>
        <result column="PAT_EMAIL" property="patEmail"/>
        <result column="AGE" property="age"/>
        <result column="GENDER" property="gender"/>
        <result column="CITIZEN_NUM" property="citizenNum"/>
        <result column="ADDRESS" property="address"/>
<!--        <association property="treatVO" resultMap="infoTreat"/>-->
<!--        <association property="recepVO" resultMap="recep"/>-->
    </resultMap>

    <!--환자에 대한 입원 정보-->
    <resultMap id="infoDate" type="com.green.TeamProject1.patient.DateVO">
        <id column="DATE_NUM" property="dateNum"/>
        <result column="IN_HOPI" property="inHopi"/>
        <result column="OUT_HOPI" property="outHopi"/>
        <result column="ROOM_NUM" property="roomNum"/>
        <result column="OPER_DATE" property="operDate"/>
    </resultMap>

    <!--처방전에 대한 정보-->
    <resultMap id="infoRecipe" type="com.green.TeamProject1.patient.RecipeVO">
        <id column="RECIPE_NUM" property="recipeNum"/>
        <result column="TRE_NUM" property="treNum"/>
        <result column="MEDI_NAME" property="mediName"/>
        <result column="EAT_CNT" property="eatCnt"/>
    </resultMap>

    <!--처방 요금에 대한 정보-->
    <resultMap id="infoPrice" type="com.green.TeamProject1.patient.PriceVO">
        <id column="PRI_NUM" property="priNum"/>
        <result column="TRE_PRICE" property="trePrice"/>
        <result column="DATE_PRICE" property="datePrice"/>
        <result column="EAT_PRICE" property="eatPrice"/>
        <result column="SHOT_PRICE" property="shotPrice"/>
        <result column="TRE_NUM" property="treNum"/>
    </resultMap>

    <!-- 접수 정보에 대한 정보-->
    <resultMap id="recep" type="com.green.TeamProject1.patient.RecepVO">
        <id column="RECEP_NUM" property="recepNum" />
        <result column="PAT_NUM" property="patNum" />
        <result column="DOC_LINUM" property="docLinum"/>
        <result column="RECEP_DATE" property="recepDate" />
        <result column="RECEP_STATUS" property="recepStatus" />
    </resultMap>

    <!--진료 정보 리스트-->
    <resultMap id="infoTreat" type="com.green.TeamProject1.patient.TreatVO">
        <id column="TRE_NUM" property="treNum"/>
        <result column="PAT_NUM" property="patNum"/>
        <result column="DISEASE" property="disease"/>
        <result column="DOC_LINUM" property="docLinum"/>
        <result column="ABOUT_PAT" property="aboutPat"/>
        <result column="TRE_DATE" property="treDate"/>
        <result column="DATE_NUM" property="dateNum"/>
        <result column="MED_NUM" property="medNum"/>
        <association property="recipeVO" resultMap="infoRecipe"/>
        <association property="dateVO" resultMap="infoDate"/>
        <association property="priceVO" resultMap="infoPrice"/>
    </resultMap>

    <!--처방전 작성 및 조회를 위한 정보 select-->
        <!--환자 전체 리스트 중 해당 주민번호를 가진 사람이 있나?-->
        <select id="getPatientList" resultMap="patient">
            SELECT PAT_NUM, PAT_NAME
            FROM patient
            WHERE CITIZEN_NUM = #{citizenNum}
        </select>

        <!--환자 한명의 진료 기록 날짜-->
        <select id="getOneTreDate" resultMap="infoTreat">
            SELECT PATIENT.PAT_NUM, TRE_DATE, TRE_NUM
            FROM PATIENT, INFO_TREAT
            WHERE PATIENT.PAT_NUM = INFO_TREAT.PAT_NUM
            AND PATIENT.PAT_NUM = #{patNum}
        </select>

        <!--환자 한명의 내용-->
        <select id="getPatListAll" parameterType="map" resultMap="patient">
            SELECT *
            FROM PATIENT LEFT OUTER JOIN INFO_TREAT
            ON PATIENT.PAT_NUM = INFO_TREAT.PAT_NUM
            LEFT OUTER JOIN INFO_RECIPE
            ON INFO_RECIPE.TRE_NUM = INFO_TREAT.TRE_NUM
            LEFT OUTER JOIN INFO_DATE
            ON INFO_TREAT.TRE_NUM = INFO_DATE.TRE_NUM
            LEFT OUTER JOIN INFO_PRICE
            ON INFO_TREAT.TRE_NUM = INFO_PRICE.TRE_NUM
            WHERE INFO_TREAT.TRE_NUM = #{treNum}
            AND PATIENT.PAT_NUM = #{patNum}
        </select>

        <!--신규 등록하는 환자번호를 생성-->
        <select id="getNextPatNum" resultType="int">
            SELECT IFNULL(MAX(PAT_NUM), 0)+ 1
            FROM patient
        </select>

        <!-- 신규 방문자 정보 등록 -->
        <insert id="regInsert">
            INSERT INTO patient (
                PAT_NUM
                , PAT_NAME
                , PAT_EMAIL
                , AGE
                , GENDER
                , CITIZEN_NUM
                , ADDRESS
            )
            VALUES (
                #{patNum}
                , #{patName}
                , #{patEmail}
                , #{age}
                , #{gender}
                , #{citizenNum}
                , #{address}
            )
        </insert>

        <!-- 신규 방문자 접수 등록함과 동시에 접수 정보 등록 -->
        <insert id="recepInsert">
            INSERT INTO recep_info (
                pat_num
                , recep_status
                , doc_linum
            ) values (
                #{patNum}
                , '대기중'
                , #{docLinum}
            )
        </insert>

        <!-- 재방문자인지 조회 -->
        <select id="compareSelect" resultType="int">
            SELECT pat_num
            FROM patient
            WHERE pat_name = #{patName} AND citizen_num = #{citizenNum};
        </select>

        <!-- 조회후 재방문이면 접수 등록-->
        <insert id="compareInsert">
            INSERT INTO recep_info (
                pat_num
              , recep_status
              , doc_linum)
            VALUES (
                #{patNum}
             , '대기중'
             , #{docLinum}
                );
        </insert>

</mapper>





