<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="patientMapper">
    <resultMap id="patient" type="com.green.TeamProject1.patient.PatientVO">
        <id column="PAT_NUM" property="patNum"/>
        <result column="PAT_NAME" property="patName"/>
        <result column="PAT_EMAIL" property="patEmail"/>
        <result column="AGE" property="age"/>
        <result column="GENDER" property="gender"/>
        <result column="CITIZEN_NUM" property="citizenNum"/>
        <result column="ADDRESS" property="address"/>
        <collection property="dateList" resultMap="infoDate"/>
        <collection property="medicineList" resultMap="infoMedicine"/>
        <collection property="treatList" resultMap="infoTreat"/>
    </resultMap>

    <!--환자에 대한 약 정보-->
    <resultMap id="infoMedicine" type="com.green.TeamProject1.patient.MedicineVO">
        <id column="MED_NUM" property="medNum"/>
        <result column="MED_NAME" property="medName"/>
        <result column="DOC_LINUM" property="docLinum"/>
        <result column="PAT_NUM" property="patNum"/>
    </resultMap>

    <!--환자에 대한 입원 정보-->
    <resultMap id="infoDate" type="com.green.TeamProject1.patient.DateVO">
        <id column="DATE_NUM" property="dateNum"/>
        <result column="IN_HOPI" property="inHopi"/>
        <result column="OUT_HOPI" property="outHopi"/>
        <result column="ROOM_NUM" property="roomNum"/>
        <result column="OPER_DATE" property="operDate"/>
        <result column="PAT_NUM" property="patNum"/>
    </resultMap>

    <!--진료 정보 리스트-->
    <resultMap id="infoTreat" type="com.green.TeamProject1.patient.TreatVO">
        <id column="TRE_NUM" property="treNum"/>
        <result column="PAT_NUM" property="patNum"/>
        <result column="DISEASE" property="disease"/>
        <result column="DOC_LINUM" property="docLinum"/>
        <result column="ABOUT_PAT" property="aboutPat"/>
        <result column="TRE_DATE" property="treDate"/>
        <result column="DATE_NUM" property="dateNum"/>
        <result column="MED_NUM" property="medNum"/>
    </resultMap>

    <!--환자 전체 리스트 중 해당 주민번호를 가진 사람이 있나?-->
    <select id="getPatientList" resultMap="patient">
        SELECT PAT_NUM, PAT_NAME
        FROM patient
        WHERE CITIZEN_NUM = #{citizenNum}
    </select>

    <!--환자 한명의 내용-->
    <select id="getPatListAll" resultMap="patient">
        SELECT *
        FROM PATIENT, INFO_DATE, INFO_MEDICINE, INFO_TREAT
        WHERE PATIENT.PAT_NUM = INFO_DATE.PAT_NUM
        AND PATIENT.PAT_NUM = INFO_MEDICINE.PAT_NUM
        AND PATIENT.PAT_NUM = INFO_TREAT.PAT_NUM
        AND PATIENT.PAT_NUM = #{patNum}
    </select>

    <!--한 환자에 대한 진료기록-->
    <select id="getOneTreList" resultMap="patient">
        SELECT TRE_DATE
        FROM PATIENT, INFO_TREAT
        WHERE PATIENT.PAT_NUM = INFO_TREAT.PAT_NUM
        AND PATIENT.PAT_NUM = #{patNum}
    </select>
</mapper>































